:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.lumino-purple {
  color: #4e00a6;
}

.lumino-purple-dark {
  color: #261641;
}

.lumino-purple-border {
  border-color: #F2F2F2;
}
.lumino-purple-border:hover {
  border-color: #4e00a6;
}
.lumino-purple-border:active {
  border-color: #4e00a6;
}

.lumino-purple-shadow {
  color: #d6c6f6;
}
